@import url(fonts.css);
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(238, 238, 238);
    font-family: 'Montserrat';
}
.login_container {
    max-width: 1200px;
    background-color: #fff;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    max-width: 500px;
}