* {
    margin: 0;
    padding: 0;
}
.maincontainer {
    padding: 30px;
}
.inner_box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 700px;
}
.blockText {
    display: flex;
    flex-direction: column;
    gap: 20px;
}