@import url(fonts.css);
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(238, 238, 238);
    font-family: 'Montserrat';
}
.maincontainer {
    margin: 0 auto;
    max-width: 1340px;
    background-color: #fff;
    min-height: 100vh;
}
.inner_box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 100%;
    padding: 20px;
}
.blockText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.content {
    margin-top: 10px;
    text-align: justify;
}
a {
    text-decoration: none;
    color: inherit;
}
header {
    background-color: rgb(16, 57, 133);
    padding: 10px 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    font-size: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    max-width: 1400px;
}
.header_sign {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.header_sign_btn {
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(16, 57, 133);
    transition: background-color 0.3s ease-in-out;
}
.header_sign_btn:hover {
    background-color: #fff;
    color: rgb(16, 57, 133);
}