* {
    padding: 0;
    margin: 0;
}
.maincontainer {
    padding: 20px;
}
#main-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#btn {
    width: 80px;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(25, 108, 175);
}
#postform-text {
    overflow-wrap: break-word;
    height: 300px;
}